.App {
  text-align: center;
  font-family: 'Balsamiq Sans';
}


/* Heading */
.header {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}



/* LoginForm.jsx */
.login {
  margin-top: 50px;
}

.login_reg_button {
  margin-top: 15px;
}


/* Summits.jsx */


.form-group {
  width: 400px;
  padding: 5px;
  margin: 0 auto;
}

.table {
  font-size: 30px;
  vertical-align: middle;
}

